{% block layout_footer_inner_container %}
    <div class="container">
        {% block layout_footer_navigation %}
            <div id="footerColumns"
                 class="row footer-columns"
                 data-collapse-footer="true">
                {% block layout_footer_navigation_columns %}
                    {% for root in page.footer.navigation.tree %}
                        {% block layout_footer_navigation_column %}
                            <div class="col-md-3 footer-column js-footer-column">
                                {% block layout_footer_navigation_information_headline %}
                                    <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger text-white"
                                         data-target="#collapseFooterTitle{{ loop.index }}"
                                         aria-expanded="true"
                                         aria-controls="collapseFooter{{ loop.index }}">

                                        {% if root.category.type == 'folder' %}
                                            {{ root.category.translated.name }}
                                        {% else %}
                                            <a  class="text-white" href="{{ category_url(root.category) }}"
                                                {% if category_linknewtab(root.category) %}target="_blank"{% endif %}
                                                title="{{ root.category.translated.name }}">
                                                {{ root.category.translated.name }}
                                            </a>
                                        {% endif %}
                                        {% block layout_footer_navigation_information_icons %}
                                            <div class="footer-column-toggle">
                                                <span class="footer-plus-icon">
                                                    {% sw_icon 'plus' %}
                                                </span>
                                                <span class="footer-minus-icon">
                                                    {% sw_icon 'minus' %}
                                                </span>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block layout_footer_navigation_information_content %}
                                    <div id="collapseFooter{{ loop.index }}"
                                         class="footer-column-content collapse js-footer-column-content"
                                         aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                        <div class="footer-column-content-inner">
                                            {% block layout_footer_navigation_information_links %}
                                                <ul class="list-unstyled">
                                                    {% for treeItem in root.children %}
                                                        {% set category = treeItem.category %}
                                                        {% set name = category.translated.name %}

                                                        {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                                                        {% set externalLink = category.translated.externalLink %}

                                                        {% block layout_footer_navigation_information_link_item %}
                                                            <li class="footer-link-item">
                                                                {% block layout_footer_navigation_information_link %}
                                                                    {% if category.type == 'folder' %}
                                                                        <div>{{ name }}</div>
                                                                    {% else %}
                                                                        <a class="footer-link text-white"
                                                                           href="{{ category_url(category) }}"
                                                                           {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                                           title="{{ name }}">
                                                                            {{ name }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endblock %}
                                                            </li>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </ul>
                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
                {% block layout_footer_navigation_hotline %}
                    <div class="col-md-3 footer-column js-footer-column">
                        {% block layout_footer_navigation_hotline_headline %}
                            <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger text-white"
                                 id="collapseFooterHotlineTitle"
                                 data-target="#collapseFooterHotline"
                                 aria-expanded="true"
                                 aria-controls="collapseFooterHotline">
                                {{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}
                                {% block layout_footer_navigation_hotline_icons %}
                                    <div class="footer-column-toggle">
                                        <span class="footer-plus-icon">
                                            {% sw_icon 'plus' %}
                                        </span>
                                        <span class="footer-minus-icon">
                                            {% sw_icon 'minus' %}
                                        </span>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block layout_footer_navigation_hotline_content %}
                            <div id="collapseFooterHotline"
                                 class="footer-column-content collapse js-footer-column-content footer-contact"
                                 aria-labelledby="collapseFooterHotlineTitle">
                                <div class="footer-column-content-inner">
                                    <p class="footer-contact-hotline text-white">
                                        {{ 'footer.serviceHotline'|trans|sw_sanitize }}
                                    </p>
                                </div>

                                <div class="footer-contact-form text-white">
                                    {{ 'footer.serviceContactLink'|trans({
                                        '%url%': path('frontend.cms.page', { id: config('core.basicInformation.contactPage') })
                                    })|raw }}
                                </div>
                            </div>
                        {% endblock %}
                    </div>




                        {% block layout_footer_navigation_columns_newsletter %}
                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletter') %}
                                {% set action = 'frontend.form.newsletter.register.handle' %}

                                {% block layout_footer_navigation_columns_newsletter_inner %}
                                    <div class="col-md-{{ config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnSizeArea')}} footer-column js-footer-column">
                                        {% block layout_footer_navigation_columns_newsletter_inner_headline %}
                                            <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                                                 id="collapseFooterNewsletterTitle"
                                                 data-target="#collapseFooterNewsletter"
                                                 aria-expanded="true"
                                                 aria-controls="collapseFooterNewsletter">
                                                {% if (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterHeadlineContentType')  == "textfield") %}
                                                    {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterHeadlineTextField"|trans({"%newsletterheadline%": config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterHeadlineContent')})|sw_sanitize }}
                                                {% elseif (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterHeadlineContentType')  == "snippet") %}
                                                    {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterHeadline"|trans|raw }}
                                                {% endif %}
                                                {% block layout_footer_navigation_columns_newsletter_inner_headline_icons %}
                                                    <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                                        <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block layout_footer_navigation_columns_newsletter_inner_content %}
                                            <div id="collapseFooterNewsletter"
                                                 class="footer-column-content collapse js-footer-column-content footer-newsletter"
                                                 aria-labelledby="collapseFooterNewsletterTitle">
                                                <div class="footer-column-content-inner">

                                                    {% block layout_footer_navigation_columns_newsletter_inner_content_inner %}
                                                        <div class="cms-block">
                                                            <div class="cms-element-form text-white">
                                                                <form action="{{ path(action) }}"
                                                                      method="post"
                                                                      data-form-csrf-handler="true"
                                                                      data-form-validation="true">
                                                                    <div class="form-content">

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_newslettertext_before %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionNewsletterText') == "beforeEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletterText') %}
                                                                                    <p>
                                                                                        {% if (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContentType')  == "texteditor") %}
                                                                                            {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterTextTextEditor"|trans({"%newslettertext%": config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContent')})|raw }}
                                                                                        {% elseif (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContentType')  == "snippet") %}
                                                                                            {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterText"|trans|raw }}
                                                                                        {% endif %}
                                                                                    </p>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_captcha_before %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionCaptcha') == "beforeEmailAddressField" %}
                                                                                {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' with { additionalClass : 'col-md-12'} %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_privacy_before %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionDataProtectionInformatio') == "beforeEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowDataProtectionInformation') %}
                                                                                    {% sw_include '@TmmsAdditionalNewsletterRegistrationOptions/storefront/additional-newsletter-registration-options-privacy.html.twig' with {
                                                                                        identifierTemplate: "form-privacy-opt-in-collapse-footer-newsletter-registration",
                                                                                        showHeadline: config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowDataProtectionInformationHeadline'),
                                                                                        showInput: config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnRequireDataProtectionInformationCheckbox')
                                                                                    } %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_required_fields_info_before %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionRequiredFieldsInformation') == "beforeEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowRequiredFieldsInformation') %}
                                                                                    <div class="required-fields-info">
                                                                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig' %}
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_inputs %}
                                                                            <div class="form-row input-group">

                                                                                {% block layout_footer_navigation_columns_newsletter_inner_content_inner_inputs_select_action %}
                                                                                    <label class="form-label d-none" for="collapseFooterNewsletterAction">
                                                                                        {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.labelActionSelect"|trans }} {{ "general.required"|trans }}
                                                                                    </label>
                                                                                    <input name="option"
                                                                                           type="hidden"
                                                                                           id="collapseFooterNewsletterAction"
                                                                                           value="{{ constant('Shopware\\Storefront\\Controller\\FormController::SUBSCRIBE') }}"/>
                                                                                {% endblock %}

                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletterButtonNextToField') %}
                                                                                <div class="footer-newsletter-together">

                                                                                    {% set emailPlaceholder = "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.labelMail" %}
                                                                                    {% else %}
                                                                                        {% set emailPlaceholder = "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.placeholderMail" %}
                                                                                    {% endif %}

                                                                                    {% block layout_footer_navigation_columns_newsletter_inner_content_inner_inputs_input_email %}
                                                                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                                                                            with {
                                                                                            fieldName: 'email',
                                                                                            type: 'email',
                                                                                            required: true,
                                                                                            additionalClass: 'col-12',
                                                                                            label: 'tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.labelMail',
                                                                                            placeholder: emailPlaceholder
                                                                                        }
                                                                                        %}
                                                                                    {% endblock %}

                                                                                    {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletterButtonNextToField') %}
                                                                                    {% block layout_footer_navigation_columns_newsletter_inner_content_inner_submit_before %}
                                                                                        <button class="btn btn-primary btn-newsletter w-auto" type="submit">
                                                                                            {% sw_icon 'envelope' %}
                                                                                        </button>
                                                                                    {% endblock %}
                                                                                </div>
                                                                                {% endif %}

                                                                            </div>
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_captcha_after %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionCaptcha') == "afterEmailAddressField" %}
                                                                                {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' with { additionalClass : 'col-md-12'} %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_privacy_after %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionDataProtectionInformatio') == "afterEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowDataProtectionInformation') %}
                                                                                    {% sw_include '@TmmsAdditionalNewsletterRegistrationOptions/storefront/additional-newsletter-registration-options-privacy.html.twig' with {
                                                                                        identifierTemplate: "form-privacy-opt-in-collapse-footer-newsletter-registration",
                                                                                        showHeadline: config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowDataProtectionInformationHeadline'),
                                                                                        showInput: config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnRequireDataProtectionInformationCheckbox')
                                                                                    } %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_required_fields_info_after %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionRequiredFieldsInformation') == "afterEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowRequiredFieldsInformation') %}
                                                                                    <div class="required-fields-info">
                                                                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig' %}
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_submit_after %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletterButtonNextToField') == false %}
                                                                                <button type="submit" class="btn btn-primary btn-newsletter w-auto">
                                                                                    {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterSubmit"|trans }}
                                                                                </button>
                                                                            {% endif %}
                                                                        {% endblock %}

                                                                        {% block layout_footer_navigation_columns_newsletter_inner_content_inner_newslettertext_after %}
                                                                            {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnPositionNewsletterText') == "afterEmailAddressField" %}
                                                                                {% if config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnShowNewsletterText') %}
                                                                                    <p class="mt-3">
                                                                                        {% if (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContentType')  == "texteditor") %}
                                                                                            {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterTextTextEditor"|trans({"%newslettertext%": config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContent')})|raw }}
                                                                                        {% elseif (config('TmmsAdditionalNewsletterRegistrationOptions.config.footerColumnNewsletterTextContentType')  == "snippet") %}
                                                                                            {{ "tmms.additionalnewsletterregistrationoptions.footerColumn.newsletter.footerColumnNewsletterText"|trans|raw }}
                                                                                        {% endif %}
                                                                                    </p>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endblock %}
                                                                    </div>

                                                                    {% block layout_footer_navigation_columns_newsletter_inner_content_inner_hidden_fields %}
                                                                        <div class="form-hidden-fields">
                                                                            {% block layout_footer_navigation_columns_newsletter_inner_content_inner_csrf %}
                                                                                {{ sw_csrf(action) }}
                                                                            {% endblock %}

                                                                            <input type="submit" class="submit--hidden d-none"/>
                                                                        </div>
                                                                    {% endblock %}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    {% endblock %}
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endblock %}




                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_payment_shipping_logos %}
            <div class="footer-logos">
                {% block layout_footer_payment_logos %}
                    {% for paymentMethod in page.salesChannelPaymentMethods %}
                        {% block layout_footer_payment_logo %}
                            {% if paymentMethod.media %}
                                <div class="footer-logo is-payment">
                                    {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                        media: paymentMethod.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'img-fluid footer-logo-image',
                                            'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                            'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                        }
                                    } %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block layout_footer_shipping_logos %}
                    {% for shippingMethod in page.salesChannelShippingMethods %}
                        {% block layout_footer_shipping_logo %}
                            {% if shippingMethod.media %}
                                <div class="footer-logo is-shipping">
                                    {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                        media: shippingMethod.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'img-fluid footer-logo-image',
                                            'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                            'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                        }
                                    } %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}

    </div>

    {% block layout_footer_bottom %}
        <div class="footer-bottom text-white">
            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        {% apply spaceless %}
                            <ul class="footer-service-menu-list list-unstyled">
                                {% for serviceMenuItem in page.header.serviceMenu %}
                                    {% block layout_footer_service_menu_item %}
                                        <li class="footer-service-menu-item">
                                            <a class="footer-service-menu-link"
                                               href="{{ category_url(serviceMenuItem) }}"
                                               {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                               title="{{ serviceMenuItem.translated.name }}">
                                                {{ serviceMenuItem.translated.name }}
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endfor %}
                            </ul>
                        {% endapply %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_vat %}
                <div class="footer-vat">
                    {% if context.taxState == "gross" %}
                        <p>
                            {{ "footer.includeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ "footer.excludeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </p>
                    {% endif %}
                </div>
            {% endblock %}

            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    {% sw_icon 'shopware' style {'size':'xs'} %}
                    {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
