{% sw_extends "@Storefront/storefront/page/product-detail/buy-widget.html.twig" %}

{% block page_product_detail_price %}
    <div class="row align-items-center">
        <div class="col-6 product-detail-price-container">
            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
        </div>
        {% block page_product_detail_manufacturer %}
            {% if page.product.manufacturer %}
                <div class="col-md-auto product-detail-manufacturer">
                    {% block page_product_detail_manufacturer_inner %}
                        {% block page_product_detail_manufacturer_link %}
                            <a href="{{ page.product.manufacturer.link }}"
                               class="product-detail-manufacturer-link"
                               rel="noreferrer noopener"
                               target="_blank"
                               title="{{ page.product.manufacturer.translated.name }}">
                                {% if page.product.manufacturer.media %}
                                    {% block page_product_detail_manufacturer_logo %}
                                        <img src="{{ page.product.manufacturer.media|sw_encode_media_url }}"
                                             class="product-detail-manufacturer-logo"
                                             alt="{{ page.product.manufacturer.translated.name }}"/>
                                    {% endblock %}
                                {% else %}
                                    {% block page_product_detail_manufacturer_text %}
                                        {{ page.product.manufacturer.translated.name }}
                                    {% endblock %}
                                {% endif %}
                            </a>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_tax %}
    <div class="product-detail-tax-container">
        {% if context.taxState == "gross" %}
            {% set taxText = "ThemeBattronGmbh.detail.product.grossTaxInformation"|trans({'%product.taxRate%':page.product.tax.taxRate}) |sw_sanitize %}
        {% else %}
            {% set taxText = "ThemeBattronGmbh.detail.product.netTaxInformation"|trans({'%product.taxRate%':page.product.tax.taxRate}) |sw_sanitize %}
        {% endif %}

        <p class="product-detail-tax">
            {% block page_product_detail_tax_link %}
                <a class="product-detail-tax-link"
                    href="{{ path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                    title="{{ taxText }}"
                    data-ajax-modal="true"
                    data-url="{{ path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                        {{ taxText }}
                </a>
            {% endblock %}
        </p>
    </div>

    {% set taxInfoAlert = config('ThemeBattronGmbh.config.taxInfoAlert') %}
    {% set configProductTaxId = page.extensions.configProductTaxId.getTaxEntity() %}
    {% set productTaxId = page.product.taxId %}
    {% set showBanner = taxInfoAlert and productTaxId == configProductTaxId %}

    {% if showBanner %}
        {% block battron_custom_banner_detail_info_box %}
            {% set taxInfoTextDetail = "ThemeBattronGmbh.config.taxInfoTextDetail" | trans | sw_sanitize %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: 'info',
                content: taxInfoTextDetail,
                icon: 'info'
            } %}
        {% endblock %}
    {% endif %}
{% endblock %}