{% sw_extends "@Storefront/storefront/section/cms-section-block-container.html.twig" %}

{% block section_content_block %}
    {{ parent() }}
    <div class="cms-block border rounded shadow {{ blockClasses|join(' ') }}"
         style="{% if blockBgColor %} background-color: {{ blockBgColor }};{% endif %}">
        {% block section_content_block_background_image %}
            {% if block.backgroundMedia %}
                {% sw_thumbnails 'cms-block-background' with {
                    media: block.backgroundMedia,
                    attributes: {
                        class: "cms-block-background media-mode--" ~ block.backgroundMediaMode
                    }
                } %}
            {% endif %}
        {% endblock %}
        {% block section_content_block_container %}
            <div class="cms-block-container"
                 style="{% if padding %}padding: {{ padding }};{% endif %}">

                {% block section_content_block_row %}
                    <div class="cms-block-container-row row cms-row {{ sidebarClasses }}">
                        {% sw_include "@Storefront/storefront/block/cms-block-" ~ block.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}